{{#each restaurants as |restaurant|}}
  <section class="return" data-id="{{restaurant.id}}">
    <p>
    <b>Name:</b> {{restaurant.name}}
    <b>Cuisine:</b> {{restaurant.cuisine}}
    <b>URL:</b> {{restaurant.url}}
    <b>Address:</b> {{restaurant.address}}
    <b>Best Thing(s) to Order:</b> {{restaurant.best_thing_to_order}}
    </p>

  </section>
  <nav>
     {{#if restaurant.editable}}
          <button type="button" class="delete-restaurant btn btn-danger" data-id="{{restaurant.id}}">Delete</button>
          <button type="button" class="update-restaurant" data-id="{{restaurant.id}}" data-name="{{restaurant.name}}" data-cuisine="{{restaurant.cuisine}}" data-url="{{restaurant.url}}" data-address="{{restaurant.address}}" data-best-thing-to-order="{{restaurant.best_thing_to_order}}">Update</button>
     {{/if}}
  </nav>
  <hr>

{{/each}}
